$logoHeight: 22px;
$logoWidth: 122px;

.project-header {
  border: $componentBorderMid;
  box-shadow: $boxShadowMid;
  background-color: #fff;

}

.project-header__logo {
  height: $logoHeight;
  width: $logoWidth;
  margin: 1.4rem;

}

.project-header__title {
  font-size: 1.4rem;
  font-weight: normal;

}

.project-header__id {
  font-size: .5rem;
  font-weight: normal;
  color: #949890;
  text-align: center;

}
