/**************************/
/*** Base ***/
/**************************/

// Colors
$colorBorderMid: #DADEE1;
$colorBorderLight: #E4E4E4;

// Fonts
$baseFontSize: 20px;
$sansSerif: sans-serif;

/**************************/
/*** Components ***/
/**************************/

// Outline
$componentBorderMid: 1px solid $colorBorderMid;
$componentBorderLight: 1px solid $colorBorderLight;
$boxShadowMid: 0px 1px 10px $colorBorderMid;
