* {
  /* Dimensions */
  margin: 0;
  padding: 0;
  outline: none;

}

html {
  font-size: $baseFontSize;

}

body {
  /* Font */
  font-family: $sansSerif;
  font-weight: normal;
  background-color: #f6f8f9;

  /* Color */

  /* Dimensions */
  // box-sizing: border-box;

}
