#root {
    height: 100vh;
}

body {
    margin: 0; //removes the user agent added margin
}

.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 128, 128, 0.3);
    height: 100%;
    overflow: hidden;
}

.app__input {
    border: 0.2rem solid #3a3a3a;
    font-size: 1rem;
    height: 1.5rem;
    margin-top: 1rem;
    outline: none;
    width: 95%;
}
