.list__container {
    background-color: #f4f3f4;
    border: 1px solid #f4f3f4;
    border-radius: 0.8rem;
    margin: 2rem 2rem 2rem 0;
    width: 16%;
    height: 25rem;
}

.list__container {
    overflow-y: scroll;
}

.list__header {
    background-color: #3a3a3a;
    // color: #f4f3f4;
    color: rgb(41, 232, 232);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem 0;
}
